<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Book</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1><%= book.title %></h1>
    <script src="/bubbleeffect.js"></script>   

    <p><strong>Description:</strong> <%= book.description %></p>
    <p><strong>Year:</strong> <%= book.publishYear %></p>
    <p><strong>Author:</strong> <%= book.author %></p>
    <p><strong>Cover:</strong> <img src="<%= book.coverPagePath %>" alt="<%= book.title %>"></p>
    <a href="/books">Back to My Books</a>
</body>
</html>
